
# port, node_env, client origin, database (supabase postgres cloud databsae connection string)
PORT=5000
NODE_ENV="development"
CLIENT_URL='http://localhost:5173'
DATABASE_URL="postgresql://postgres:YOUR_SUPABASE_PASSWORD%402006!~%5E@db.swlqusxlfbpzjsbxtcsz.supabase.co:5432/postgres"

# jwt secret key 
JWT_SECRET=odooallindia189

# SMTP email credentials
SMTP_HOST="smtp.gmail.com"
SMTP_USER="YOUR_GMAIL@gmail.com"
SMTP_PASS="YOUR_GAMIL_APP_PASSWORD"

# Google OAuth Credential 
GOOGLE_CLIENT_ID='YOUR GOOGLE CLIENT ID'
GOOGLE_CLIENT_SECRET='YOUR GOOGLE CLIENT SECRET'
GOOGLE_CALLBACK_URL='YOUR GOOGLE OAUTH CALLBACK URL'

# Payment Gateway (razorpay) -- TEST MODE credentials
RAZORPAY_KEY_ID='YOUR RAZORPAY KEY ID'
RAZORPAY_KEY_SECRET='YOUR RAZORPAY KEY SECRET'